
#The URL of the feed you want to post. Can be Atom or RSS, any version
feedurl = http://example.com/feed

#The base API URL for the microblogging service you want to post to. Examples:
#
#  http://identi.ca/api
#  http://micro.ciarang.com/api
#
apibaseurl = http://omb.example.com/api

#Replace the following credentials with those for the microblogging service you want to post to
user = example_user
password = example_password

#The maximum length of message. Defaults to 140.
maxlen = 140

#URL shortening mode. Possible values are:
#  lilurl - use a lilURL-based shortening service - specify the host
#           below
#  bit.ly - shorten the url using the service at http://bit.ly (default)
#  laconica - assume that Laconica will shorten the url automatically
#  none - do not shorten (drastically reducing available message space)
urlshortener = lilurl

#If using the 'lilurl' shortening mode, specify the host here. Otherwise
#this is ignored.
urlshortenhost = http://ur1.ca

#Specify the 'sent mode'. This determines how we decide if we have already
#sent an entry from the feed to the OMB service. There are two possible
#modes:
#  sentlinks - uses the links attached to each entry, and stores a list of
#              all those that have been sent previously (default)
#  timestamp - keeps track of the timestamp of the most recent entry and
#              only sends newer ones
sentmode = timestamp

#Specify the message mode, i.e. how the OMB message is formed from the
#available information in the feed entries:
#  title     - just the title of the entry (default)
#  authtitle - the author followed by the title
#  summary   - use the entry's summary (description in RSS), falling back
#              on the title if there is no summary
msgmode = title

#Should links be appended to the message? Default is 'yes' - to get rid
#of them, set it to 'no'...
includelinks = yes

#The following, if enabled, allow a regular expression search and replace on
#the message before it is sent. This can be used, for example, to prepend
#boilerplate text to the message (which might be used if you are directing
#multiple feeds to the same account) or to remove the same (which might be
#useful when reposting twitter content to an open account elsewhere)
#
#Much more creative things are possible with this, but the following example
#would remove the text "MarsPhoenix:" from the start of all messages:
#
#messageregex = 'MarsPhoenix:(.*)'
#messagereplace = '\1'
#
#On the other hand, this one ADDS 'Example:' to the start of all messages:
#
#messageregex = '(.*)'
#messagereplace = 'Example:\1'
#
#You can also have multiple regular expressions and replacements by giving
#a comma-separated list of each. The number of expressions and replacements
#must be the same.
#
#messageregex = 'red','blue'
#messagereplace = 'green','yellow'
#

#
#Specify the maximum number of items that will be posted in one go. This
#prevents flooding. Any additional items will be picked up on the next run.
#You can set this to 0 to always post all available new items.
#This value can be overridden by the --max command-line option.
maxpost = 2

#Specify the hashtags mode. If this is set to 'category', then any categories
#specified in the feed's entries will be appended to the message as hashtags,
#so long as there is space.
hashtags = none

#Links that have already been posted will be added to this section if
#the sentmode option is set to sentlinks.
[sentlinks]


