
#The URL of the feed you want to post. Can be Atom or RSS, any version
feedurl = http://example.com/feed

#The base API URL for the microblogging service you want to post to. Examples:
#
#  http://identi.ca/api
#  http://micro.ciarang.com/api
#
apibaseurl = http://omb.example.com/api

#Replace the following credentials with those for the microblogging service you want to post to
user = example_user
password = example_password

#URL shortening mode. Possible values are:
#  lilurl - use a lilURL-based shortening service - specify the host
#           below
#  bit.ly - shorten the url using the service at http://bit.ly (default)
#  laconica - assume that Laconica will shorten the url automatically
#  none - do not shorten (drastically reducing available message space)
urlshortener = lilurl

#If using the 'lilurl' shortening mode, specify the host here. Otherwise
#this is ignored.
urlshortenhost = http://ur1.ca

#Specify the message mode:
#  'title'     - just the title of the entry (default)
#  'authtitle' - the author followed by the title
msgmode = title

#The following, if enabled, allow a regular expression search and replace on the message before
#it is sent. This can be used, for example, to prepend boilerplate text to the message (which
#might be used if you are directing multiple feeds to the same account) or to remove the same
#(which might be useful when reposting twitter content to an open account elsewhere)
#
#Much more creative things are possible with this, but the following example would remove
#the text "MarsPhoenix:" from the start of all messages:
#
#messageregex = 'MarsPhoenix:(.*)'
#messagereplace = '\1'
#
#On the other hand, this one ADDS 'Example:' to the start of all messages:
#
#messageregex = '{.*}'
#messagereplace = 'Example:\0'

#Links that have already been posted will be added to this section
[sentlinks]
